<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <script src="js/angular.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/series-label.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/csv-to-json.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="index.html">Chấm Công</a></li>
    <li role="presentation"><a href="kpi.html">KPI</a></li>
</ul>

<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <ul class="nav nav-tabs">
        <li ng-repeat="user in users"  class="{{ $index == 0 ? 'active' : ''}}"><a data-toggle="tab" href="#{{ user + $index}}">{{ getName(user) }}</a></li>
    </ul>

    <div class="tab-content">
        <div ng-repeat="user in users" id="{{ user + $index}}" class="tab-pane fade in {{ $index == 0 ? 'active' : '' }}">
            <div id="{{ user }}" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
        </div>
    </div>
</div>


<script src="js/config.js"></script>
</body>
</html>